.admin-page {
  display: flex;
  justify-content: space-around;
}

.admin-page form {
  display: flex;
  flex-direction: column;
}
.add-hotel{
   background-color: white;
   border-radius: 10px;
   width: 50%;
   margin-left: 20% ;
   padding: 0 7%;
 border: 1px solid black;   
   
}
.add-rest{
  background-color: white;
   border-radius: 10px;
   width: 70%;
   margin-left: 15% ;
   padding: 0 7%;
 border: 1px solid black;
}
.add-enter{
  background-color: white;
   border-radius: 10px;
   width: 90%;
   margin-left: 5% ;
   padding: 0 7%;
 border: 1px solid black;
}
.input{
  margin-top: 2%;
background-color: white;

  font-size: 100%;
}
.inputt{
  margin-top: 10%;
  background-color: white;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: white;
  color: black;
  margin-top: 2%;
  border: 2px solid black;
}