.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: white !important;
    position: fixed;
  

 /* align-items: center; */
   
}
.css-hyum1k-MuiToolbar-root{
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.icon{
    width: 200px;
    margin-top: 5px;

}

.css-i4bv87-MuiSvgIcon-root{
    color: black;
}
.birie{
display: flex;
}
.birdie1{
width: 3    0%;
height: 50px;

   
}
@media all and (max-width: 1024px){
    
    .css-336mxg-MuiButtonBase-root-MuiButton-root{
        width: 10px;
    }
    .css-p7bec2-MuiTypography-root{
        width: 100%;
    }
    .css-4ikvch-MuiSvgIcon-root{
        margin-right: 50px !important;
    }
   
}
@media all and (max-width: 768px){
    .css-p7bec2-MuiTypography-root{
        width: 10% !important
    }
    .css-336mxg-MuiButtonBase-root-MuiButton-root{
        margin-right: 10%!important;
    }
  
    

}

@media all and (max-width: 425px){
    /* .button{
        display: block !important;
    } */
    /* .css-1fj6ncr-MuiButtonBase-root-MuiButton-root{
        display: block !important;
    } */
   .button{
    display: none !important;
   }
    .css-4ikvch-MuiSvgIcon-root{
     display: none !important;
    }
    .logout{
        display: none;
         }
    
    
}
@media all and (max-width: 315px){
    .logout{
        display: none;
         }
}
@media all and (max-width: 315px){

 .button{
    display: none !important;
 }
 .icon{
    width: 10px;
 }
 .css-i4bv87-MuiSvgIcon-root{
   margin-right: 10px !important;
 }
 .logout{
display: none;
 }
 
 
}