@media all and (max-width: 425px){
    .text{
        width: 80% !important;
    }
}
@media all and (max-width: 425px){

    .text{
        width: 100% !important;
    }

}
@media all and (max-width: 425px){
    .text{
        width: 150% !important;
    }
    .div6{
        display: none !important;
    }
    .text{
        width: 80% !important;
    }
}
@media all and (max-width: 375px){
    .text{
        width: 150% !important;
    }
}
@media all and (max-width: 320px){
    .text{
        width: 200% !important;
    }
    /* .detail{

        width: 10%;
    } */
    .div5{
        display: none !important;

    }
    .div6{
        display: none !important;
    }
    .text{
        display: none !important;
    }
}
.divv1{
    margin-top: 10%;
    
}


.network{
    display: flex !important;
    margin-top: 2%;
    margin-left: 10%;
}
.div3{
    display: flex !important;
    /* margin-top: 10%; */
  
}
.div4{
    margin-left: 10%;
    /* margin-top: 5%; */
}
.div5{
    margin-left: 5%;
    /* margin-top: 5%; */
}
.div6{
    margin-left: 5%;
    /* margin-top: 5%; */
}
.tap{
    width: 15%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;

}