/* first block */
.container {
  width: 80%;
  margin: 0 auto;
}

.container-h2 {
  text-align: center;
  font-weight: 900;
}

.first-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% auto;
  flex-wrap: wrap;
}

.each-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  padding: 0.2%;
  color: black;
  cursor: pointer;
  background-color: var(--secondaryButtonFill);
  transition: 150ms;
}

a {
  text-decoration: none;
}

/* .bedicon :hover {
  color: white;
  background-color: black;
} */

/* second block */

.second-block {
  background: url(https://about-planet.ru/images/asia/strana/kirgizia/kirgizia7.jpg)
    no-repeat;
  /* background-size: contain; */
  background-position: center;
  margin-top: -5%;
  /* width: 150%; */
  height: 70vh;
  /* display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.search {
  z-index: 3;
  font-size: 1.5rem;
  padding: 20px 30px;
  padding-left: 7%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-container {
  z-index: 3;
  position: relative;
  width: 70%;
  height: 15%;
}

.search-icon {
  z-index: 3;
  position: absolute;
  background: url("../../../public/icons/search.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 28px;
  height: 28px;
  left: 2%;
  top: 50%;
  margin-top: -14px;
  transition: 150ms;
}

.each-link:hover {
  color: #fff;
  background: black;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  /* background-color: var(--secondaryButtonFill) */
  fill: currentColor;
}

.icon6:hover {
  color: white;
}

/* @media screen and (max-width: 768px) { */
.search-icon {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 4%;
}

.search {
  padding: 10px 20px;
  padding-left: 40px;
  font-size: smaller;
}

.search:focus {
  outline: none;
}

/* sixth block */
.sixth-block {
  display: flex;
  flex-direction: row;
  background-color: #004f32;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
}
.sixth-block-left {
  display: flex;
  flex-direction: column;
  background-color: #004f32;
  color: white;
  width: 20%;
  align-items: center;
  text-align: center;
}
.sixth-block-right {
  width: 60%;
  height: 50%;
}
.sova {
  width: 40%;
}

.img-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img-bishkek {
  margin: 0 auto;
  width: 80%;
}

@media all and (max-width: 520px) {
  .img-container {
    display: none;
  }
}

/* test */
.test-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% auto;
  width: 100%;
}
.test {
  display: flex;
  width: 300px;

  padding-left: 1%;
  padding-top: 10%;
  background: url("https://vivid-travel.kz/assets/images/tours/issykul-novyj/mob3.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  border: 3px solid rgb(77, 29, 29);
  border-radius: 10px;
}
.test1 {
  display: flex;
  width: 300px;

  padding-left: 1%;
  padding-top: 10%;
  background: url("https://www.kapriz.kg/images/design/slide1/karakol/karakol-05.jpg");
  background-position: center;
  background-size: cover;
  color: rgb(58, 57, 57);
  border: 3px solid rgb(77, 29, 29);
  border-radius: 10px;
}

.test2 {
  display: flex;
  width: 300px;

  padding-left: 1%;
  padding-top: 10%;
  background: url("https://img.tourister.ru/files/2/2/4/3/7/2/6/4/original.jpg");
  background-position: center;
  background-size: cover;
  color: rgb(241, 238, 238);
  border: 3px solid rgb(77, 29, 29);
  border-radius: 10px;
}
.test:hover {
  opacity: 0.6;
}
/* test with rating  */
.test-card-rating {
  width: 25%;

  padding: 10px 20px;
  margin: 0;

  display: flex;
  flex-direction: column;
  transition: 150ms;
  cursor: pointer;
  border: 3px solid black;
}

.test-card-rating :nth-of-type(2) {
  font-size: smaller;
}
.test-card-rating:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.bold {
  /* font-weight: bold; */
  width: 150% !important;
  font-weight: -10%;
  margin-top: 50%;
  color: white;

  border-radius: 20px;
}
.h5-bold {
  color: white;

  border-radius: 20px;
  margin-top: 5px;
  margin-left: 15%;
  margin-bottom: 10px;
}
/* best trip block */
.best-trip-block {
  background: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/79/1c/09/caption.jpg?w=1200&h=1600&s=1)
    no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.best-trip-txt {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 15%;
  margin-left: 2%;
  background-color: rgba(100, 100, 111, 0.2);
}
.best-trip-txt:nth-of-type(1) {
  font-size: xx-large;
  width: 50%;
}

.best-trip-shadow {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: rgba(100, 100, 111, 0);
}
.h2-home {
  font-weight: 900;
  color: rgb(65, 24, 24);
}

@media all and (max-width: 768px) {
  .best-trip-txt:nth-of-type(1) {
    font-size: 100%;
  }
  .explor {
    width: 50% !important;
  }
  .container {
    width: 100%;
  }
}
@media all and (max-width: 425px) {
  .container {
    font-size: 80%;
  }
  .class1 {
    display: block !important;
  }
  .explor {
    font-size: 60% !important;
  }
  .test-title {
    font-size: 60%;
  }
  .test-block {
    flex-wrap: wrap !important;
  }
  .test-card-rating {
    width: 30%;
    margin-bottom: -20%;
  }
  .h2-home {
    margin-top: -20%;
  }
  .test {
    width: 30%;
  }
}
@media all and (max-width: 376px) {
  .test {
    margin-left: 20%;
    width: 50%;
    height: 130px;

    margin-top: 4%;
  }
  .test-block {
    display: block;
  }
  .test-title {
    margin-top: 30%;
    font-size: 80%;
  }
  .test-card-rating {
    margin-left: 15%;
    width: 70%;

    margin-top: 15%;
  }
  .sixth-block-right {
    margin-left: 5%;
  }
  .h2-travel {
    font-size: 70%;
  }
}
