/* body{
    background-color: #eeeeee;
}
.icons{

/* padding: 10px; */

margin-left: 30% !important;
    width: 40% !important;
    margin-top: 10px !important;
}
.num{
    font-size:25px !important;
    font-weight: bold !important;
    margin-left: 25px !important;
    margin-bottom: 15px !important  ;
}

.btn{
    background-color: #f2b203 !important;
    border-color:#f2b203 !important;
    color: black !important;
    font-size: 13px !important;
    font-weight:800 !important;
    width: 180px !important;
    border-radius: 50px !important;
    height:20% !important;

}
.check{ 
display: flex;
margin-top: 10px;

}
.hr{
    margin-left: 5%;
}
.rating{
    display: flex;
    margin-top: 20px;

}
.css-hcuxr8{
    width: 600px !important;
}
.feedback{
    font-size: 90%;
    
}
.uest{
font-size: 80%;
margin-top: 3%;
}
.div{
    margin-top: 15px;
}

.divv{
    display: flex;
  
}
.box:hover{

 box-shadow: 8px 10px 5px 2px rgba(0, 0, 255, .2);
}


  
@media all and (max-width: 1024px){
    .box{
       font-size: 60%;
       
    }
   
    
    .media{
          
            /* height: 10% !important; */
            width: 20% !important;
    }
   
    .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
        font-size: 90% !important;
        width: 10%;
    }
    .MuiBox-rootcss-0{
    width: 10% !important;
    }
} */